menu "ADS126x ADC (ADS1262/ADS1263)"

config ADS126X_SPI_CLOCK_HZ
    int "SPI clock (Hz)"
    default 2000000

config ADS126X_HAS_ADC2
    bool "HAS ADC2 (ADS1263 only)"
    default y if SENSORARRAY_ADS1263
    default n if SENSORARRAY_ADS1262
    help
        ADS1263 has an auxiliary ADC2. ADS1262 does not.

endmenu
