CONFIG_SENSORARRAY_FDC_CAP_PRINT_DECIMALS CONFIG_SENSORARRAY_CAP_DECIMALS
CONFIG_SENSORARRAY_FDC_CAP_DECIMALS CONFIG_SENSORARRAY_CAP_DECIMALS
CONFIG_SENSORARRAY_FDC_MATRIX_TARGET_FPS CONFIG_SENSORARRAY_TARGET_FPS
CONFIG_SENSORARRAY_ENABLE_WIRED CONFIG_SENSORARRAY_OUTPUT_USB_TEXT
CONFIG_SENSORARRAY_ENABLE_BLE CONFIG_SENSORARRAY_OUTPUT_BLE_CAP_TEXT
CONFIG_SENSORARRAY_BLE_ENABLE CONFIG_SENSORARRAY_OUTPUT_BLE_CAP_TEXT
